<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
<body style="padding-top: 0px;">		
      <div class="container">
      <a href="/en/"><img src="/images/logo/jaxio.gif" alt="Jaxio" title="Jaxio" /></a>&nbsp;&nbsp;&nbsp;
		   <a href="index.html">Celerio Documentation Index</a>
		 | <a href="http://www.springfuse.com">SpringFuse</a> 
		 | <a href="http://www.twitter.com/springfuse">follow @springfuse</a>	
		<hr/>
{{content}}
      <hr/>
      <div class="offset3">
		<p>&copy; 2005-2013 <a href="http://www.jaxio.com/">Jaxio</a> | 
		<a href="/mentions-legales.html">Mentions légales</a></p>
      </div>
    </div> <!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% include js.html %}    
  </body>
</html>

