<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
      <div class="container">
		<a href="index.html">Celerio Documentation index</a> | <a href="http://www.jaxio.com/en">Jaxio</a>  | <a href="http://www.springfuse.com">SpringFuse</a>		
<hr/>
{{content}}
      <hr/>
      <div class="offset3">
		<p>&copy; 2005-2013 <a href="http://www.jaxio.com/">Jaxio</a> | 
		<a href="/mentions-legales.html">Mentions légales</a></p>
      </div>
    </div> <!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% include js.html %}    
  </body>
</html>

