<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>{% include head.html %}
<style type="text/css"> 
p.tip {
	background-image: url(/images/tip.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 32px;
	padding-top: 10px;
	min-height: 25px;
}
p.important {
	background-image: url(/images/important.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 32px;
	padding-top: 10px;
	min-height: 25px;
}
</style>

</head>
<body>
	<div class="container">
		<header id="header">
			<nav>
				<h1 id="logo">
					<a href="/en/"><img src="/images/logo/jaxio.gif"></a>
				</h1>
				<ul id="menu">
					<li class="first-line">
						<a href="/en/celerio.html">Celerio Product</a>
						<div class="sub" style="width: 250px">
							<ul>
								<li><a href="/en/celerio.html">Features</a></li>
								<li><a href="/en/pricing.html">Pricing</a></li>
							</ul>
						</div>
					</li>

					<li class="first-line">
						<a href="/en/services.html">Services</a>
					</li>

					<li class="first-line">
						<a href="/en/references.html">References</a>
					</li>
					
					<li class="first-line"><a href="/en/contact-us.html">Contact Us</a></li>

					<li class="first-line">
						<a href="/en/jaxio.html">About us</a>
					</li>

					<li class="first-line"><a href="/"><img src="/images/fr.gif"></a></li>					
				</ul>
			</nav>
		</header>
		<section id="main">
			{{ content }} {% if page.comments %}
			<aside>
				<div id="disqus_thread"></div>
			</aside>
			{% endif %}
		&nbsp; <!-- this nbsp prevent layout from breaking! -->			
		</section>
		<footer id="footer">
			All rights reserved &copy; 2005-2011 <a href="http://www.jaxio.com/">Jaxio</a> | 
								<a href="/mentions-legales.html">Mentions légales</a> | <a href="/privacy-policy.html">Privacy policy</a>
		</footer>
	</div>
	{% include javascript.html %}
</body>
</html>
