<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
  
    <div class="navbar">
		<div class="navbar-inner">
        <div class="container">
        	<a class="brand" href="/"></a>
			<ul class="nav nav-pills">
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="">Celerio</a>
			    <ul class="dropdown-menu">
					<li><a href="/documentation/celerio/index.html">Documentation Celerio</a></li>
					<li><a href="/celerio.html">Fonctionnement technique</a></li>
					<li class="divider"></li>
					<li><a href="/celerio-livre-blanc.html">Articles et Livre blanc</a></li>
                    <li><a href="/fonctionnalites-application-gestion-javaee-generee.html">Fonctionnalités d'une application générée</a></li>
					<li class="divider"></li>
					<li><a href="/avantages-celerio-sur-la-concurrence.html">Avantages</a></li>
					<li><a href="/benefices.html">Bénéfices</a></li>								
					<li><a href="/retour-sur-investissement.html">Retour sur investissement</a></li>
			    </ul>
			  </li>
			  <li><a href="/references-clients.html">Références</a></li>

			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="">A Propos</a>
			    <ul class="dropdown-menu">
					<li><a href="/jaxio.html">Equipe</a></li>
					<li><a href="/actualites.html">Actualités</a></li>
					<li><a href="/nous-contacter.html">Nous Contacter</a></li>
			    </ul>
			  </li>
				<li><a href="/en/">English</a></li>
				<li><div style="padding: 8px 8px 8px;"><g:plusone size="medium"></g:plusone></div></li>
			</ul>

		</div>
	</div>
</div>
	{% include js.html %}    
    <div class="container">
{{content}}
      <hr/>
      <div class="offset3">
		<p>
		&copy; 2005-2015 <a href="http://www.jaxio.com/">Jaxio</a> |
            <a href="https://twitter.com/jaxiosoft">@jaxiosoft</a> |
		    <a href="/mentions-legales.html">Mentions légales</a>
		</p>
      </div>
    </div> <!-- /container -->
  </body>
</html>

