<!DOCTYPE html>
<html lang="fr">
  {% include head.html %}
  <body>
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        	<a class="brand" href="/"></a>
			<ul class="nav nav-pills">
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="">Produit Celerio</a>
			    <ul class="dropdown-menu">
					<li><a href="/avantages-celerio-sur-la-concurrence.html">Avantages</a></li>
					<li><a href="/benefices.html">Bénéfices</a></li>								
					<li><a href="/celerio.html">Fonctionnalités</a></li>
					<li><a href="/retour-sur-investissement.html">Retour sur investissement</a></li>
					<li><a href="/celerio-livre-blanc.html">Articles et Livre blanc</a></li>
					<li class="divider"></li>
					<li><a href="/licence-utilisation-celerio.html">Licence</a></li>
					<li><a href="/documentation/celerio/index.html">Documentation</a></li>
			    </ul>
			  </li>
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="">Formations</a>
			    <ul class="dropdown-menu">
					<li><a href="/formation-celerio.html">Formation Celerio</a></li>
					<li><a href="/formation-springfuse.html">Formation Springfuse</a></li>
					<li class="divider"></li>
					<li><a href="/formation-cassandra-nosql.html">Formation Cassandra</a></li>
			    </ul>
			  </li>
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="">Services</a>
			    <ul class="dropdown-menu">
					<li><a href="/offre-prototype.html">Prototypage</a></li>
					<li><a href="/offre-regie-outillee.html">Régie Outillée</a></li>
					<li><a href="/offre-forfait-outille.html">Forfait Outillé</a></li>
			    </ul>
			  </li>
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="">A Propos</a>
			    <ul class="dropdown-menu">
					<li><a href="/jaxio.html">Société</a></li>
					<li><a href="/actualites.html">Actualités</a></li>
					<li><a href="/nous-contacter.html">Nous Contacter</a></li>
			    </ul>
			  </li>
			</ul>
			<ul class="nav pull-right"><li><a href="/en/"><img src="/images/us.gif" alt="English"/></a></li></ul>										
		</div>
	</div>
</div>
    <div class="container">
{{content}}
      <hr/>
      <div class="offset3">
		<p>&copy; 2005-2012 <a href="http://www.jaxio.com/">Jaxio</a> | 
		<a href="/mentions-legales.html">Mentions légales</a></p>
      </div>
    </div> <!-- /container -->
    <!-- Placed at the end of the document so the pages load faster -->
	{% include js.html %}    
  </body>
</html>

