<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>{% include head.html %}
<style type="text/css"> 
p.tip {
	background-image: url(/images/tip.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 32px;
	padding-top: 10px;
	min-height: 25px;
}
p.important {
	background-image: url(/images/important.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 32px;
	padding-top: 10px;
	min-height: 25px;
}
</style>

</head>
<body>
	<div class="container">
		<header id="header">
			<nav>
				<h1 id="logo">
					<a href="/"><img src="/images/logo/jaxio.gif"></a>
				</h1>
				<ul id="menu">
					<li class="first-line">
						<a href="/celerio.html">Produit Celerio</a>
						<div class="sub" style="width: 250px">
							<ul>
								<li><a href="/celerio.html">Fonctionnalités</a></li>
								<li><a href="/benefices.html">Bénéfices</a></li>								
								<li><a href="/retour-sur-investissement.html">Retour sur investissement</a></li>
								<li><a href="/celerio-livre-blanc.html">Articles et Livre blanc</a></li>
								<li><a href="/licence-utilisation-celerio.html">Licence</a></li>
							</ul>
						</div>
					</li>
					<li class="first-line">
						<a href="#">Services</a>
						<div class="sub" style="width: 250px;">
							<ul>
								<li><a href="/offre-prototype.html">Prototypage</a></li>
								<li><a href="/offre-regie-outillee.html">Régie Outillée</a></li>
								<li><a href="/offre-forfait-outille.html">Forfait Outillé</a></li>
								<li><a href="/formation-celerio.html">Formation Celerio</a></li>
								<li><a href="/formation-springfuse.html">Formation Springfuse</a></li>
							</ul>
						</div>
					</li>
					<li class="first-line">
					<a href="/references-clients.html">Références</a>
					</li>
					
					<li class="first-line">
					<a href="/jaxio.html">Jaxio</a>
						<div class="sub" style="width: 250px;">
							<ul>
								<li><a href="/jaxio.html">A propos</a></li>
								<li><a href="/actualites.html">Actualités</a></li>
							</ul>
						</div>
					</li>
					<li class="first-line"><a href="/nous-contacter.html">Contact</a></li>
				</ul>
			</nav>
		</header>
		<section id="main">
			{{ content }} {% if page.comments %}
			<aside>
				<div id="disqus_thread"></div>
			</aside>
			{% endif %}
		&nbsp; <!-- this nbsp prevent layout from breaking! -->			
		</section>
		<footer id="footer">
			All rights reserved &copy; 2005-2011 <a href="http://www.jaxio.com/">Jaxio</a> | 
								<a href="/mentions-legales.html">Mentions légales</a> | <a href="/privacy-policy.html">Privacy policy</a>
		</footer>
	</div>
	{% include javascript.html %}
</body>
</html>
