<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  {% include head.html %}
  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
        	<a class="brand" href="/"> </a>
			<ul class="nav nav-pills">
			  <li class="dropdown">
			    <a class="dropdown-toggle" data-toggle="dropdown" href="">Celerio Product</a>
			    <ul class="dropdown-menu">
                    <li><a href="/en/celerio.html">Overview</a></li>
					<li><a href="/documentation/celerio/index.html">Documentation</a></li>
                    <li class="divider"></li>
                    <li><a href="/en/references.html">Customers</a></li>
			    </ul>
			  </li>
			  <li><a href="/en/services.html">Services</a></li>
			<li><a href="/en/contact-us.html">Contact us</a></li>
			<li><a href="/en/jaxio.html">About us</a></li>
			<li><div style="padding: 8px 8px 8px;"><g:plusone size="medium" href="http://www.jaxio.com/"></g:plusone></div></li>
			</ul>
		</div>
	</div>
</div>
	{% include js.html %}
    <div class="container">
{{content}}
      <hr>
      <div class="offset3">
		<p>
		&copy; 2005-2015 <a href="/en/">Jaxio</a> |
        <a href="https://twitter.com/jaxiosoft">@jaxiosoft</a>
		| <a href="/en/legal.html">Legal</a>
		</p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
